@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
:root
{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;

}
body{
    min-height: 100vh;
    /* overflow-y: hidden; */
}
.container{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
/* active nav on toggle */
.navigation.active{
    width: 75px;    
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* main sec */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
/* active main */
.main.active{
    width: calc(100% - 75px);
    left: 75px;
}
.main .topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.main .topbar .toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}
.main .topbar .search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.main .topbar .search label{
    position: relative;
    width: 100%;
    top: 10px;
}
.main .topbar .search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    outline: none;
    border: 1px solid var(--black2);
}
.main .topbar .search label ion-icon{
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: 1.2em;
}
.main .topbar .user{
    position: relative;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.main .topbar .user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.main .cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.main .cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
}
.main .cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: var(--blue);
}
.main .cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.main .cardBox .card .iconBox{
    font-size: 3em;
    color: var(--black2);
}
.main .cardBox .card:hover{
    background: var(--blue);
}
.main .cardBox .card:hover .numbers,
.main .cardBox .card:hover .iconBox,
.main .cardBox .card:hover .cardName{
    color: var(--white);
}
/* details */
.main .details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 10px;
}
.main .details .recentOrder{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    border-radius: 20px;

}
.main .details .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.main .details .cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.main .details .recentOrder .cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 8px;
}
.main .details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.main .details table thead td{
    font-weight: 600;
}
.main .details table tr{
    color: var(--blue);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.main .details table tr:last-child{
    border-bottom: none;
}
.main .details table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.main .details table tr td:last-child{
    text-align: end;
}
.main .details table tr td:nth-child(2){
    text-align: end;
}
.main .details table tr td:nth-child(3){
    text-align: end;
}
.main .details table tr td{
    padding: 10px;
}
.main .details .status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.main .details .status.pending {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.main .details .status.progress {
    padding: 2px 4px;
    background: #9b59b6;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.main .details .status.return {
    padding: 2px 4px;
    background: #72510c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.main .details .recentCustomer{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.main .details .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.main .details .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .details .recentCustomer table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.main .details .recentCustomer table tr td:last-child {
    text-align: start;
}
.main .details .recentCustomer table tr td{
    padding: 10px 10px;
}
.main .details .recentCustomer table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.main .details .recentCustomer table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}

/* mobile design */
@media screen and (max-width:991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .main .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: auto;
    }
    .main .details{
        grid-template-columns: repeat(1,1fr);
    }
    .main .details .recentOrder{
        overflow-x: auto;
    }
    .main .details .status.progress{
        white-space: nowrap;
    }
}
@media screen and (max-width:480px) {
    .main .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .main .details .cardHeader h2{
        font-size: 20px;
    }
    .main .topbar .user{
        min-width: 60px;
        min-height: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 100;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .main .topbar .toggle{
        z-index: 1000;
    }
    .main.active{
        overflow-y: hidden;
    }
    .main.active .toggle{
        color: var(--white);
        position: fixed;
        right: 0;
        left: initial;
    }
}